*{

	margin:0px;
	padding:0px;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing: border-box;
}

body{
	
	font-family: 'Open sans', sans-serif;
	background: #000 url('imagenes/fondo.jpg');
	background-size: cover;
	background-attachment: fixed;

}

.contenedor{

	margin:auto;
	width: 90%;
	max-width: 1000px;
	display:flex;
	flex-direction: row;
	flex-wrap: wrap;

}

header{

	width: 100%;
	padding:50px 0px;
	display:flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

header .menu a{
	
	color:#fff;
	text-decoration: none;
	margin-right: 20px;
	font-size: 16px;
	transition: background 1s ease;

}

header .menu a:hover{
	
	background:#000;


}

.main{

	background:#fff;
	padding: 20px;
	width: 70%;
}

.main article .thumb{
	
	margin-bottom: 20px;
	
}

.main article .thumb img{
	
	width: 100%;
	vertical-align: top;
}

.main article h2{

	margin-bottom: 20px;
	font-weight: normal;
	font-size: 32px;
}

.main article p{

	margin-bottom: 20px;
	font-size: 14px;
	line-height: 27px;
}

aside{

	width: 30%;
	background: rgba(255,255,255,.15);
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 20px;
}

aside .ad{

	font-size: 30px;
	text-align: center;
	color:#fff;
	padding: 30px 0px;
	background-image:  url('imagenes/iniciomateria1.jpg');
	background-size: cover;
	height: 50%;
	margin:10px;
	/*margin-bottom: 20px;*/
}

aside .ad a{
	
	text-decoration: none;
	color:#fff;

}

aside .ad a:hover{

	color:#0000FF;
	transition: color 1s ease;
	
}



footer{
	
	width: 100%;
	margin-top: 20px;
	padding:20px;
	color:#fff;
	background: rgba(255,255,255,.2);
	display:flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
		
}



footer .redes a{

	text-decoration: none;
	color:#fff;
	margin-right: 20px;
	font-size: 16px;

}

footer .redes a:hover{

	background:#000;
	transition: background 1s ease;
}

@media screen and (max-width:700px){

	.main{

		width:100%;
	}

	aside{
		
		width: 100%;
		flex-direction: row;
		height: 150px;
	}

	aside .ad{

		width:45%;
		font-size: 20px;
		margin: 0 20px;
		height: 100px;

	}
}

@media screen and (max-width:620px){

	header{

		flex-direction: column;
		padding-bottom: 20px;
	}

	header .menu{

		width:100%;
		background: rgba(255,255,255,.2);
		padding:20px;
		text-align: center;
	}
	
	header .menu a{

		margin: 0px 20px;
	}

	header .logo{

		margin-bottom: 20px;
	}


	footer{

		flex-direction: column;
		text-align: center;
	}
	
	footer .autor{

		order:2;
		
	}

	footer .redes{

		order:1;
		margin-bottom: 20px;
		
	}

	footer .redes a{

		margin: 0px 20px;
	}
	
}

